@font-face{
	font-family:Pyidaungsu;
	src:url(font/pyidaungsu.ttf);
}
@font-face{
	font-family:Pyidaungsu;
	src:url(font/pyidaungsu.ttf);
}

.mobile_view{
	display:none;
}

.web_view{
	display:block;
}
.x_error{
	padding:10px;
	text-align:center;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}


.breaking_row{
	background-color:#000;
	height:40px;
	color:#fff;
}
.win_home span{
	font-family:Pyidaungsu !important;
	font-size:20px !important;
}
.win_home p{
	font-family:Pyidaungsu !important;
	font-size:20px !important;
}
.googelmap{
	width:100%;
}
.tbl td{
	font-size:14px;
}
.mmfont{
	font-family:Pyidaungsu !important;
	font-weight:bold;
}
.read_more{
	font-size:15px;
}
.logo_row{
	margin-top:55px;
	margin-bottom:20px;
}
.marquee_row{
	width:85%;
	position:absolute;
}
.marquee_row a{
	color:#fff;
}
.marquee_link{
	padding-left:40px;
	font-family:Pyidaungsu !important;
}
.marquee_row a:hover{
	text-decoration-color:#eded15;
	color:#fff;
}
.breaking_news{
	padding:10px;
	font-family:Pyidaungsu !important;
}
.logo_img{
	width:100%;
	height:220px;
}
.logo_ads{
	width: 100%;
/*    height: 25vh;*/
	float: right;
	margin-top:109px;
}
.lastest_news{
	width:100% !important;
	/*height:500px !important;*/
}
.main_news_title{
	background-color:black;
	padding:5px 10px;
	opacity:0.7;
	margin-top:-90px;
	height:90px;
}
.main_title_link{
	font-family:Pyidaungsu !important;
	color:#fff;
	font-size:20px;
}
.main_title_link:hover{
	text-decoration-color:#eded15;
	color:#fff;
}
.banner_ads{
	width:100%;
/*	height:23vh;*/
	margin-bottom:20px;
}
.cat_title{
	font-size:14px;
	color:#000;
	font-family:Pyidaungsu !important;
}
.cat_title:hover{
	text-decoration-color:#eded15;
	color:#333;
}
.main_title{
	font-family:Pyidaungsu;
	color: #000;
	font-size: 16px;
}
.main_title:hover{
	text-decoration-color:#eded15;
	color:#333;
}
.main_img{
	width:100%;
/*	height:240px;*/
}
.img{
	width:100%;
}
.main_news{
	padding:15px 0px;
	border-bottom:2px solid #ebebeb;
}
.main_news_pic{
	padding-left:0px !important;
}
.side_img{
	width:100%;
/*	height:240px;*/
}
.side_ads_img{
	width:100%;
	/*height:50vh;*/
}
.side_bar_news{
	border:2px solid #ebebeb;
	padding: 0px 10px 10px 10px;
}
.side_lastest_news{
	border-bottom:2px solid #eded15;
	text-align:center;
}
.side_lastest_news2{
	border-bottom:2px solid #ebebeb;
	padding-bottom:10px;
	padding-top:20px;
}
.side_lastest_news2:last-child{
	border:none;
}
.news_body p{
	font-family:Pyidaungsu !important;
	font-size:22px;
}
.related_title{
	border-bottom:2px solid #eded15;
}
.related_img{
	width:100%;
	/*height:120px;*/
}
.list{
	border:1px solid #ebebeb;
	padding:7px;
	margin-bottom:15px;
	height:245px;
}
.up_list{
	padding: 0px 5px 0px 5px !important;
}
.side_latest_new_title{
	padding:20px;
}
.news_logo{
	width:100%;
}
.news_img{
	width:40%;
	float:left;
}
.news_title{
	padding:0px 10px;
	width:60%;
	float:left;
}
#newimg_1{
	width:100% !important;
}
#newtitle_1{
	width:100% !important;
	padding:10px 0px;
}
.side_ads{
	padding:15px;
}
.side_standing{
	padding:0px 15px 15px 15px;
}
.standing{
	font-size:22px;
	border-bottom:2px solid #eded15;
	padding-bottom:10px;
}
.standing_list a{
	color:#000;
	font-size:18px;
}
.standing_list li{
	padding:10px 0px;
}
.standing_list a:hover{
	text-decoration-color:#eded15;
	color:#333;
}

.footer{
	text-align:center;
	background-color:black;
	color:#fff;
	padding:10px 10px 10px 10px;
	margin:0px !important;
}
.footer p{
	margin:0;
	font-size:14px;
}
.navbar{
	margin-left:-17px;
	background-color:#eded15 !important;
}
.container-fluid{
	padding:0px !important;
}
.navbar-collapse{
	padding:0px !important;
}
.navbar-nav > .active > a{
	background-color:#000 !important;
	color:#fff !important;
}
.navbar-nav > li{
	border-right: 1px solid #333;
	text-align: center;
	width: 144px;
	font-size:12px;
}
.navbar-nav li:last-child {
  border: none;
}
.navbar-brand{
	display:none;
}
.title_img{
	text-align:center;
	width:100%;
}
.title_img img{
	width: 85px;
/*    height: 10vh;*/
    float:left;
}
.title_img p{
	margin-top:10px;
	font-family:Pyidaungsu !important;
	float: left;
    padding: 13px 0px 0px 31px;
}
.th_tbl th{
	text-align:center;
	font-family:Pyidaungsu !important;
}
.th_tbl td{
	text-align:center;
	font-family:Pyidaungsu !important;
}
.topscorers_link:hover{
	text-decoration:none;
}
.myanmarnews_list{
	border-bottom:2px solid #ebebeb;
	margin-bottom:15px;
}

.myanmarnews_title{
	color:#333;
	font-size:16px;
	font-family:Pyidaungsu !important;
}
.myanmarnews_title:hover{
	color:#333;
	text-decoration-color:#eded15;
}
.myanmarnews_title:focus{
	color:#333;
}
.myanmarnews_desc{
	margin-top:15px;
}
.myanmarnews_desc p{
	font-family:Pyidaungsu !important;
	font-size:20px;
}
.read_more_link{
	font-family:Pyidaungsu !important;
	font-size:14px;
}
.read_more_link:hover{
	text-decoration-color: #eded15;
}
@media screen and (max-width: 780px) {

	.mobile_view{
		display:block;
	}
	.web_view{
		display:none;
	}
	.container{
		padding:0px !important;
	}
	.marquee_container{
		padding:0px !important;
	}
	.marquee_row{
		width:50%;
	}
	.marquee_col{
		padding:0px !important;
	}
	.logo_ads{
		width:100%;
		margin-top:10px;
	}
  	.navbar-brand {
    	display:block;
  	}
  	.navbar{
  		margin-left:0px;
  		padding:0px 25px;
  	}
  	.navbar-header{
  		text-align:center !important;
  	}
  	.navbar-nav > li{
  		width:100%;
  	}
  	.row{
  		margin:0px !important;
  	}
  	.lastest_news{
  		width:100%;
  		height:280px !important;
  	}
  	.main_title_link{
  		font-size:100%;
  	}
  	.side_img{
  		/*height:215px;*/
  	}
  	.main_img{
  		/*height:215px;*/
  	}
  	.moblie_foot{
  		float:none !important;
  	}
  	.tbl td{
	font-size:12px;
	}
	.title_img{
		width:100%;
	}
	.title_img img{
	    float:none;
	}
	.title_img p{
		float: none;
	    padding:0px;
	}
	.list{
	border:1px solid #ebebeb;
	padding:7px;
	margin-bottom:15px;
	
	}
}