@font-face{
	font-family:Pyidaungsu;
	src:url(font/pyidaungsu.ttf);
}
body{
	font-family:Pyidaungsu !important;
}
#btn-pick{
	margin-top:15px !important;
	
}
.logo_img{
	margin-top:15px;
}
.oth-row{
	margin-top:20px;
}
.ads_div{
	text-align:right;
}
.logo_bar{
	margin-top:10px;
}
.ads_img{
	width:80%;
	height:120px;
}
.ads_img2{
	width:100%;
	height:350px;
}
.navbar{
	border-bottom:2px solid #DE0404 !important;
	background-color:transparent !important;
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
}
.navbar .collapse .nav li a.active{
	background-color:#ED0404;
	color:#fff;
}
.navbar li:hover{
	background-color:#ED0404;
	box-shadow: 0px 1px 7px 0px;
}
.navbar {
    border-radius: 0px !important;
}
.navbar li:hover a{
	color:#fff !important;
}
.col_click {
    border: 2px solid #b59b9b;
    border-radius: 5px 5px;
    box-shadow: 0px 1px 7px 0px;
}
.col_click:hover{
	border:3px solid red;
}
.col_click img{
	width:100%;
}
.marquee{
	border:1px solid #F0EEEE;
}
.note{
	margin-top:10px;
}
/*.note_img{
	padding:0px !important;
}*/
.note_img img{
	width:780px;
	height:300px;
}
.footer{
	text-align:center; 
	background-color:black;
	color: #fff; 
	height:auto; 
	padding:5px;
}
/* distance Subject */
.l_panel{
	width:100%;
	padding:10px 17px;
	display:inline-block;
	background:#fff;
	border:1px solid #E6E9ED;
	opacity: 1
	-webkit-column-break-inside:avoid;
	transition: all .2s ease;
}
.l_title{
	border-bottom:2px solid #E6E9ED;
	padding:1px 5px 6px;
	margin-bottom:10px;
}
.l_title h2{
	margin:5px 0 6px;
	display:block;
}
.l_content{
	margin-top:10px;
}

@media(max-width:320px){
	.ads_img{
		display:none;
	}
	.logo_bar{
		margin-top:10px;
	}
	.logo_img{
		text-align:center;
	}
	.ads_img2{
		display:none;
	}
	.note_img img{
		width:100%;
		height:160px;
	}
}